html, body {height: 100%;}

.fill {
	min-height: 100%;
	height: 100%;
}

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

.tab-body {padding: 10px;}
/* .panel {margin-left: 0px;} */

label[for=search-query] {font-size: 4em;}
#search-query {padding: 20px 20px;}

.advanced-search-panel {display: none;}

.clearfix {clear: both;}
.debug {border: 1px solid red;}

.panel-body {
    padding: 0px;
    margin: 0px;
}

.media-item {
    margin: 0px;
}