{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<form action="/r" method="get">
    <label for="query">Search</label>
    <input type="text" name="query" id="query">
    <br>

    <label for="limit">Limit</label>
    <input type="text" name="limit" id="limit">
    <br>

    <label for="mode">Mode</label>
    <select name="mode" id="mode">
        <option value="fuzzy">Fuzzy</option>
        <option value="exact">Exact</option>
    </select>
    <br>

    <label for="confs">Conference</label>
    <input type="text" name="confs" id="confs">
    <br>

    <label for="threshold">Threshold</label>
    <input type="text" name="threshold" id="threshold">
    <br>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}