{% block search %}

<div
  class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"
>
  <form action="/r" method="get">
    <div class="form-group text-center">
      <label for="search-query">
        <a href="/" class="text-info" style="color: #333">AI-Paper-Search</a>
      </label>
      <div class="row">
        <div class="col-xs-9" style="padding-right:0px; width:80%">
          {% if last_query %}
          <input
            type="text"
            class="form-control"
            id="query"
            name="query"
            value="{{ last_query }}"
            placeholder="Input your keywords"
          />
          {% else %}
          <input
            type="text"
            class="form-control"
            id="query"
            name="query"
            placeholder="Input your keywords"
          />
          {% endif %}
        </div>
        <div class="col-xs-3" style="padding-left:0px; width:auto">
          <select class="form-control" id="searchtype" name="searchtype" style="text-align:center;color:#555;background:#eee; border-radius:2px">
            <option value="title">Title</option>
            <option value="author">Author</option>
          </select>
        </div>
      </div>

    </div>

    <div class="form-group text-center">
      <a id="advanced-search-button" class="btn btn-default"
        >Advanced setting</a
      >
      <button type="submit" class="btn btn-primary">Search</button>
      {% if last_query %}
      <a id="research-button" class="btn btn-info">Search in Results</a>
      <a id="export-button" class="btn btn-default">Export Results</a>
      {% else %}
      <a
        id="github-button"
        class="btn btn-info"
        href="https://github.com/MLNLP-World/AI-Paper-Collector"
        target="_blank"
        >GitHub</a
      >
      {% endif %}
    </div>

    {% if not last_query %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Tips!</strong>
      <p class="text-center">
        You can get more precise results by using advanced setting.
      </p>
      <p class="text-center">
        If this project is helpful to you, please give us a ⭐star!
      </p>
    </div>

    {% endif %}

    <div class="form-group advanced-search-panel">
      <div class="panel panel-default">
        <ul class="list-group">
          <!-- add options here -->
          <!-- <li class="list-group-item">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <label for="mode">Mode</label>
                            </div>

                            <div class="col-xs-8">
                                <div class="row">
                                    <div class="radio">
                                        <label class="col-xs-12 col-sm-6"><input type="radio" name="mode"
                                                value="fuzzy">Fuzzy</label>
                                        <label class="col-xs-12 col-sm-6"><input type="radio" name="mode"
                                                value="exact" checked>Exact</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </li> -->

          <li class="list-group-item">
            <div class="form-group">
              <div class="col-xs-4">
                <label for="year">Years</label>
              </div>

              <div class="col-xs-8">
                <div class="row">
                  <select class="form-control" id="year" name="year">
                    <option value="{{ year_now }}">Since {{ year_now }}</option>
                    <option value="{{ year_now - 3 }}">
                      Since {{ year_now - 3 }}
                    </option>
                    <option value="{{ year_now - 5 }}">
                      Since {{ year_now - 5 }}
                    </option>
                    <option value="" selected>All</option>
                  </select>
                </div>
              </div>

              <div class="clearfix"></div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="form-group">
              <div class="col-xs-4">
                <label for="year">Specific Year</label>
              </div>

              <div class="col-xs-8">
                <div class="row">
                  <input
                    type="text"
                    class="form-control"
                    id="sp_year"
                    name="sp_year"
                    placeholder="Input a specific year"
                  />
                </div>
              </div>

              <div class="clearfix"></div>
            </div>
          </li>

          <li class="list-group-item">
            <div class="form-group">
              <div class="col-xs-4">
                <label for="author">Specific Author</label>
              </div>

              <div class="col-xs-8">
                <div class="row">
                  <input
                    type="text"
                    class="form-control"
                    id="sp_author"
                    name="sp_author"
                    placeholder="Input a specific author"
                  />
                </div>
              </div>

              <div class="clearfix"></div>
            </div>
          </li>

          <!-- <li class="list-group-item">
                        <div class="form-group">
                            <div class="col-xs-4">
                                <label for="threshold">Threshold</label>
                            </div>

                            <div class="col-xs-8">
                                <div class="row">
                                    <input type="range" class="form-range" min="0" max="100" step="1" value="50"
                                        id="threshold" oninput="this.nextElementSibling.value = this.value">
                                    <output>50</output>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </li> -->

          <li class="list-group-item">
            <div class="form-group">
              <div class="col-xs-4">
                <label for="confs">Confs</label>
              </div>

              <div class="col-xs-8">
                <div class="row" id="conf-list">
                  {% for conf in confs %}
                  <fieldset class="col-xs-12 col-sm-6">
                    <input
                      type="checkbox"
                      name="confs"
                      value="{{ conf }}"
                      autocomplete="off"
                      checked
                    />
                    {{ conf }}
                  </fieldset>
                  {% endfor %}
                </div>

                <button type="button" class="btn btn-link" id="conf-select-all">
                  all
                </button>
                <button
                  type="button"
                  class="btn btn-link"
                  id="conf-select-none"
                >
                  none
                </button>
                <button type="button" class="btn btn-link" id="conf-invert">
                  invert
                </button>
              </div>
            </div>

            <div class="clearfix"></div>
          </li>
          <!-- end of options -->
        </ul>
      </div>
    </div>
  </form>
</div>

{% endblock %}
