name: deploy website
on:
  push:
    branches: [main]
    paths-ignore: ["**/README.md"]
  pull_request:
    branches: [main]
    types: [opened, synchronize]
    paths-ignore: ["**/README.md"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: amondnet/vercel-action@v20 # deploy
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
          github-token: ${{ secrets.GITHUB_TOKEN }} # Optional
          vercel-args: "--prod" # Optional
          vercel-org-id: ${{ secrets.ORG_ID }} # Required
          vercel-project-id: ${{ secrets.PROJECT_ID }} # Required
          working-directory: ./
